
{% extends 'base.html' %}
{% block content %}
<h1>Кабінет студента</h1>
{% for t in tasks %}
  <div class="card">
    <div><b>№{{ t.number }} — {{ t.title }}</b> <span class="badge">{{ t.subject_name }}</span></div>
    <div class="muted">Група: {{ t.group_name }} • {{ t.created_at_str }}</div>
    <div>{{ t.description }}</div>
    {% if t.attachment %}<div><a href="{{ url_for('download_attachment', aid=t.id, fname=t.attachment) }}">Додаток</a></div>{% endif %}
    <div><a class="btn" href="{{ url_for('student_submit', aid=t.id) }}">Надіслати відповідь</a></div>
  </div>
{% else %}<i>Немає завдань</i>{% endfor %}
{% endblock %}
