{% extends 'base.html' %}
{% block content %}
<h1>Предмети</h1>
<div class="card">
  <form method="post">
    <label>Назва предмету</label>
    <input class="input" name="name" required>
    <div class="form-actions">
      <button class="btn" type="submit">Створити</button>
    </div>
  </form>
</div>
{% for s in subjects %}
  <div class="card">
    <div class="item-row">
      <div class="item-title">{{ s.name }}</div>
      <div class="item-meta">{{ s.created_at_str }}</div>
    </div>
  </div>
{% else %}
  <i>Немає предметів</i>
{% endfor %}
{% endblock %}
