
{% extends 'base.html' %}
{% block content %}
<h1>Група: {{ group.name }}</h1>
<div class="card list">
  <h3>Студенти</h3>
  <ul>
    {% for s in students %}<li>{{ s }}</li>{% else %}<li><i>Порожньо</i></li>{% endfor %}
  </ul>
  <form method="post">
    <div class="row row-2">
      <div>
        <label>Додати студента</label>
        <select class="input" name="student">
          {% for s in all_students %}<option value="{{ s }}">{{ s }}</option>{% endfor %}
        </select>
      </div>
      <div class="align-end"><button class="btn btn-inline">Додати</button></div>
    </div>
  </form>
</div>
{% endblock %}
